<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220559465268-rdmq52crrutnol40bnrgiv1trjh5kfpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220559465268-rdmq52crrutnol40bnrgiv1trjh5kfpc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>220559465268-rfpf72pllqlpv266bltabbbh6a9ud6am.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGGFZ3-1IyDtSe1uo3VmZSTtfsJqVd6Ak</string>
	<key>GCM_SENDER_ID</key>
	<string>220559465268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.platziTripsApp</string>
	<key>PROJECT_ID</key>
	<string>platzitripsflutter-f6cfe</string>
	<key>STORAGE_BUCKET</key>
	<string>platzitripsflutter-f6cfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220559465268:ios:2990174533b26503c5e361</string>
</dict>
</plist>